<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout}" ng-app="articleApp">
<head>
</head>

<body ng-controller="ArticleController" ng-init="loadAllArticles()">
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div class="sidebar-sticky" layout:fragment="sidebar">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="/"> <span
					data-feather="home"></span>Add article<span class="sr-only">(current)</span>
			</a></li>
			
		</ul>
	</div>
	<div layout:fragment="content">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Article list</h1>
        </div>
		<div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">{{selectedCategoryNmae}}</h4>
          <table class="table table-striped table-sm">
        	  	<tr>
        	  		<th>Header</th>
        	  		<th>Author</th>
        	  		<th>Description</th>
        	  		<th>text</th>
        	  		<th>Key words</th>
        	  		<th>Date</th>
        	  	</tr>
        	  	<tr ng-repeat="article in articles">
        	  		<td>
        	  			{{article.header}}
        	  		</td>
        	  		<td>
        	  			{{article.author}}
        	  		</td>
        	  		<td>
        	  			{{article.description}}
        	  		</td>
        	  		<td>
        	  			{{article.text}}
        	  		</td>
        	  		<td>
        	  			{{article.keywords}}
        	  		</td>
        	  		<td>
        	  			{{article.publishDate}}
        	  		</td>
        	  	</tr>
        	  </table> 
          
           {{}}
        </div>
      </div>

	</div>
</body>
</html>